

<article>
  <h1>Web Performance</h1>

    <ul>
        <li>http protocols</li>
        <li>compression gzip / br</li>
        <li>Core web vitals
          how users experience the speed, responsiveness, and visual stability of your page.
          scoring badly on these metrics can affect your search engine ranking

          * Loading
            * Largest Contentful Paint (LCP)
              * Render time of largest 'visible' element on a given page.
              * Never lazy load the LCP Element
              * CSS is render blocking
              * inline critical styles
              * reduce initial Compress
              * Defer non critical CSS
              * < 2.5s good, > 2.5s < 4s needs improvement, > 4s poor    
              * 40-10-40-10 Rule
                Time to first Byte (TTFB) (40%) 
                Resource Load Delay (<10%) 
                Resource Load Time (40%)
                Element Render Delay (<10%)        browser received the resource and the browser rendered the resource
              * how to reduce TTFB so HTML can be delivered as quickly as possible
                * fetch priority in Chrome  link fetchpriority="high" rel="preload" href="img/" as="image" ... in the head or on the element itself
                * make sure the image is discoverable as soon as possible.
                * preload scanning is a microsoft innovation that scans the page for preload links and starts downloading them as soon as possible
                * prefetching
                * Pre-rendering
                * Reduce redirects
                * Serve from origin / single domain
                * HTTP/2 or HTTP/3
                * Predictive prefetching (Guess.js)
                * Use pre-rendered (generate static HTML at build time) vs Server-side rendering (SSR)
                * CDN
                * Caching
                * Minify
                * Compress
                * Optimize Images
                * Optimize Fonts
                * Optimize CSS
                * Optimize JS
                * Optimize HTML
                * Optimize Server
                * Optimize Database
              * Tools to measure
                * Lighthouse for development but not great for production
                * PageSpeed Insights collected from real people visiting this site
                * Find LCP by using Chrome Performance Tab Timings and looking for the largest element
                
          
          * Interactivity
            * First Input Delay (FID)

          * Visual Stability
            * Cumulative Layout Shift (CLS)  
          
          why
            how
            what

        </li>
    </ul>
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Piros, T. (2023, July). Web Performance in 2 Weeks. O’Reilly Media, Inc.
        
      </li>
      <li><a href="https://learning.oreilly.com/live-events/web-performance-in-2-weeks/0636920075092/" target="_blank">Web Performance in 2 Weeks</a></li>
      <li>
        <a href="https://github.com/tpiros/webperf-in-2-weeks target="_blank">Web Performance in 2 Weeks GitHub Supplemental</a>
      </li>
    </ul>
  </div>
</article>
