<article>
  <p>
    In object-oriented programming, object composition is a technique for
    creating complex objects by combining simpler objects or components. Unlike
    object inheritance where a class inherits the properties and behavior of a
    parent class, object composition is where a class
    contains a reference to one or more objects, which it uses to achieve its
    desired functionality. Sub-objects or components are combined to form the
    new object, and each sub-object provides a specific set of features or behaviors.
  </p>

  <p>
    Delegation is a form of object composition that introduces enhanced reuse
    capabilities of composed objects by delegating specific task to another
    object with the added benefit of being able to change the behavior of the
    composed object at <b>run-time</b>.
  </p>
  <p>
    The advantage of delegation is that it allows composition of behaviors at
    <b>run-time</b>. This technique increases flexibility but also introduces
    complexity and can be difficult to understand. Usages can
    introduce performance inefficiencies since the composed object is determined
    at <b>run-time</b>.
  </p>
  <p>
    Overall, this approach is flexible and allows for greater reusability of
    code where smaller objects can be composed together and swapped in and out
    as needed.
  </p>
    <div>
      <h4>Reference</h4>
      <ul>
        <li>
          Gamma, E., Helm, R., Johnson, R., &amp; Vlissides, J. (2021). Design
          patterns: Elements of reusable object-oriented software.
        </li>
      </ul>
    </div>
  </div>
</article>
