<article>
  <div class="flex-parent">
    <div class="flex-child">
      <img
        src="../../../assets/templates/13/how-computers-really-work_fullcvr_v08_front.jpg"
        alt="deep work book"
        class="img-responsive"
        width="350"
      />
    </div>
    <div class="flex-child">
      <p>
        I picked up this book mostly out of curiosity to investigate assembly
        language and the initial building blocks of technology we enjoy today. I
        have a couple of No Starch Press books and they are really well done and
        very enjoyable.
      </p>
      <p>
        I'd recommend doing the activities and exercises while reading this
        book.
      </p>
    </div>
  </div>
</article>
