<article *ngIf="!notFound; else notFoundTemplate">
  <div class="page-info">
    <h2>{{ pageContent?.title }}</h2>
    <span
      >{{ pageContent?.date | date }} | Posted By: {{ pageContent?.author }} |
      {{ pageContent?.readTime }} min read</span
    >
    <div *ngIf="pageContent?.updatedate"><small>Updated {{pageContent?.updatedate | date}}</small></div>
  </div>
  <div [innerHtml]="pageContent?.content | safe : 'html'"></div>
</article>
<ng-template #notFoundTemplate>
  <app-not-found-component></app-not-found-component>
</ng-template>
