 .container-main {
     display: grid;
     grid-template-areas:
         "content-area sidebar"
 }

 .content-area {
     grid-area: content-area;
 }

 .sidebar {
     grid-area: sidebar;
     position: absolute;
     right: 0;
     top: 20%;
 }

 @media screen and (max-width: 768px) {
     .sidebar {
         grid-area: unset;
         position: initial;
     }


     .container-main {
         grid-template-areas:
             "content-area"
     }
 }