 .container-main {
     display: grid;
     grid-template-areas:
         "content-area sidebar";
    justify-content: space-between;
    justify-items: end;
 }

 .content-area {
     grid-area: content-area;
 }

 .sidebar {
    background: #fff;
    grid-area: sidebar;
    max-width: 250px;
 }


 @media screen and (max-width: 768px) {
     .sidebar {
         grid-area: unset;
         position: initial;
         max-width: 100% !important;
     }

     .container-main {
         grid-template-areas:
             "content-area";
        justify-items: stretch;
     }
 }