.container-main {
  display: flex;
  flex-direction: row;
/*   .one {
    padding: 0 10em;
    flex-basis: 75%;
  }

  .two { 
    flex-basis: 25%; 
    flex-basis: 25%; flex-direction: column-reverse;
  } */
}

@media screen {
  
}