<article>
  <h4>Acquaintance</h4>
  <p>
    Relationships in OOP where one object knows of one or more objects but there
    is no strong relationship between them. In this relationship, the object is
    considered loosely coupled or in a weak relationship that does not rely on
    its acquainted objects for behavior and functionality. These
    objects tend to be made and remade as needed, can have shorter lifecycles,
    and are considered more dynamic.
  </p>

  <h4>Aggregation</h4>
  <p>
    Relationships in OOP where one object owns one or more objects. In short, it
    is responsible for its composed objects and objects in this relationship tend to share the
    same life cycle. In this relationship, the composed object relies on its composed
    objects for behavior and functionality. These objects tend
    to be fewer in number and more permanent or static.
  </p>

  <h4>Example</h4>
  <p>
    The sales order object owns and is responsible for the line item objects that compose it.
    The line-item objects rely on the sales order object for behavior and functionality.
  </p>
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Gamma, E., Helm, R., Johnson, R., &amp; Vlissides, J. (2021). Design
        patterns: Elements of reusable object-oriented software.
      </li>
    </ul>
  </div>
</article>
