<article>
    <p>Invented by Sir Tony Hoare in 1965. The null reference also known as "The billion-dollar mistake"
        is a special value that can be assigned to any reference type and its usage indicates that the reference
        is not referring to any object.
    </p>
    <p>
        The null reference is a source of many bugs and can be avoided by using the Null Object Pattern. The Null Object Pattern
        is a behavioral design pattern that defines a null object that can be used in place of a null reference.
    </p>
    <a href="https://github.com/coding35/null-object-pattern" target="_blank">View Example Code on GitHub</a>
    <div>
        <h4>Reference</h4>
        <ul>
            <li>
                Pluralsight. (2023, 11 21). C# Design Patterns: Null Object.
            </li>
        </ul>
    </div>
</article>