<article>
  <div class="flex-parent">
    <div class="flex-child">
      <img
        src="../../../assets/templates/20/The_Science_Of_Self_Learning.jpg"
        ,
        alt="The Science Of Self-Learning"
        class="img-responsive"
        width="350"
      />
    </div>
    <div class="flex-child">
      <p>
        A very practical guide to self-learning. The author provides a framework
        for self-learning and a set of tools to help you learn more effectively.
        <h4>Topics covered</h4>
        <ul>
            <li>The science of self-learning.</li>
            <li>The tools of self-learning.</li>
            <li>Application of self-learning.</li>
        </ul>
      </p>
    </div>
  </div>
</article>
