<article>
  <p>
    The Single Responsibility Principle (SRP) states that a class should have
    only one reason to change. This ensures that the class is focused on one
    task and is not responsible for other unrelated tasks. The term "cohesion"
    is used to describe the degree to which the elements of a module belong
    together. The SRP is a measure of cohesion. A class with high cohesion
    should have a single purpose. A class with low cohesion should be broken
    down into smaller classes with higher cohesion.
  </p>
  <p>
    Cohesion is the measure of how strongly related and focused the a class is in terms 
    of its responsibilities. Unrelated functionality should be moved to another class. This
    in turn will aid in SRP by making the class having less reasons to change.
  </p>
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Gamma, E., Helm, R., Johnson, R., &amp; Vlissides, J. (2021). Design
        patterns: Elements of reusable object-oriented software.
      </li>
    </ul>
  </div>
</article>
