<article>
    <p>In object-orientated programming, there are a handful of class types to build objects.</p>

    <h4>Concrete Class</h4>
    <p>A class with defined properties and methods that can be instantiated. It can be extented
        and inherited by other classes.
    <h5>Usage</h5>
    <ul>
        <li>Reusability by means of inheritance to subclasses.</li>
        <li>Implementation of an interface.</li>
    </ul>

    </p>
    <h4>Abstract Class</h4>
    <p>A class that cannot be instantiated but provides an interface or blueprint for other classes. Abstract
        classes can contain abstract methods which are declared but not defined. These abstract methods
        must be implemented by the subclass.
    <h5>Usage</h5>
    <ul>
        <li>Requires defined methods that must be implemented by all subclasses.</li>
        <li>To force a specific pattern or interface for objects in a system.</li>
        <li>Provide both default implementation of methods that can be overridden and defined methods that require
            implementation by subclasses.</li>
        <li>Ensure that code is structured correctly, and all subclasses conform to a predefined structure.</li>
    </ul>

    </p>

    <h4>Final Class</h4>
    <p>A class that does not allow for inheritance subclassing. Classes to be used without modification.</p>
    <h5>Usage</h5>
    <ul>
        <li>Security</li>
        <li>Tamper proof code.</li>
        <li>Optimization</li>
        <li>Prevents inheritance.</li>
    </ul>


    <h4>Static Class</h4>
    <p>A class that cannot be instantiated and contains only static properties and members and generally used as utility functions or managing
        global state.
    </p>
    <h5>Usage</h5>
    <ul>
        <li>Reusable utility or helper methods.</li>
        <li>Useful to hold constants or state.</li>
    </ul>

    <h4>Inner Class</h4>
    <p>A class that is defined within the confines of another class that can access the outer classes members.</p>
    <h5>Usage</h5>
    <ul>
        <li>Encapsulate related functionality within a class.</li>
        <li>Event handling such as a listener or callback.</li>
        <li>Access to private members of the outer class</li>
    </ul>

    <h4>Anonymous Class</h4>
    <p>A dynamic class that is defined at runtime and has no name. This type of class is generally used for creating
        objects with basic functionality.</p>
    <h5>Usage</h5>
    <ul>
        <li>Event handling such as a listener or callback.</li>
        <li>As part of an inner class.</li>
        <li>Useful in testing.</li>
        <li>Temporary implementation of an interface or abstract class.</li>
    </ul>
</article>