<article>
<p>
    The next generation of image codecs is here with AVIF and WebP to replace JPEG.
</p>
<p>A file size comparison</p>
<figure>
    <picture>
        <source srcset="../../../assets/templates/74/codecs.avif" type="image/avif" alt="A codec file size comparison">
        <source srcset="../../../assets/templates/74/codecs.webp" type="image/webp" alt="A codec file size comparison">
        <img
            src="../../../assets/templates/74/codecs.jpg"
            alt="A codec file size comparison"
            width="400px"
      />
    </picture>
</figure>

<p>
    This article has a great breakdown of the differences between image codecs.
</p>
        <a href="https://cloudinary.com/blog/time_for_next_gen_codecs_to_dethrone_jpeg" target="_blank">It’s high time to replace JPEG with a next-generation image codec</a>

<figure>
    <picture>
        <source srcset="../../../assets/templates/74/Battle-of-the-Codecs_fnl.avif" type="image/avif" alt="Cloudinary Codec Comparison">
        <source srcset="../../../assets/templates/74/Battle-of-the-Codecs_fnl.webp" type="image/webp" alt="Cloudinary Codec Comparison">
        <img
            src="./Battle-of-the-Codecs_fnl.jpg"
            alt="Cloudinary Codec Comparison"
            class="img-responsive"
      />
    </picture>
    <figcaption>
        <a href="https://cloudinary.com/blog/time_for_next_gen_codecs_to_dethrone_jpeg" target="_blank">Cloudinary Codec Comparison</a>
    </figcaption>  
</figure>
<h4>Reference</h4>
    <ul>
      <li>
        JON SNEYERS. (2023, July 7). It's high time to replace JPEG with a next-generation image codec. Cloudinary Blog. https://cloudinary.com/blog/time_for_next_gen_codecs_to_dethrone_jpeg 
      </li>
    </ul>
</article>