<div class="content-component  simple-content-page">
<h3 class="page-title">Contact</h3>

<article>
    <p>
        If you have any questions or comments, please feel free to contact me.
    </p>
    <p id="ContentIframe">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdGWiNsEYO7uO9233EB4xRLTlItT7F9Jg4VXi2Yv88jecaq6g/viewform?embedded=true"
            width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </p>
</article>
</div>