// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$coding35-primary: mat.define-palette(mat.$indigo-palette);
$coding35-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$coding35-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$coding35-theme: mat.define-light-theme((color: (primary: $coding35-primary,
        accent: $coding35-accent,
        warn: $coding35-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($coding35-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  min-height: 110vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

app-root {
  min-height: 100vh;
}

.mdc-evolution-chip-set__chips{
  .mat-mdc-chip-action-label {
    font-size: 9px;
    text-transform: capitalize;
  }
}



.flex-parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-child{
  flex: 1;
  padding: 0 15px 0 0;
}

article{
  width: 85%;
}

img.img-responsive {
  width: 100%;
}

.mat-toolbar.mat-primary {
  background: aliceblue;
  color: #054f7d;
}

.mat-mdc-card {
  flex-flow: wrap !important;
}

@media screen and (min-width: 768px) {
  article {
    padding-right: 1em;
  }
}

@media screen and (max-width: 768px) {
  article {
    width: 91%;
  }
}