<article>
    <p>
        The Manchester Baby computer, also known as the Small-Scale Experimental Machine (SSEM), was the first stored-program
        computer. It was built at the University of Manchester in 1948. The computer was designed by Frederic C. Williams, Tom
        Kilburn, and Geoff Tootill. The Manchester Baby computer was a small-scale experimental computer that demonstrated the
        feasibility of the stored-program concept. The computer was used to test the principles of the stored-program concept and
        to develop the software for the Manchester Mark 1 computer.
    </p>
    <figure>
        <picture>
            <source srcset="../../../assets/templates/125/real_baby.avif" type="image/avif"
                alt="Logisim Diagram Left Shifter" />
            <source srcset="../../../assets/templates/125/real_baby.webp" type="image/webp"
                alt="Logisim Diagram Left Shifter" />
            <img src="../../../assets/templates/125/lreal_baby.jpg" alt="Manchester Baby" />
        </picture>
    </figure>
    <figure>
        <picture>
            <source srcset="../../../assets/templates/125/logisim_baby.avif" type="image/avif"
                alt="Logisim Diagram Left Shifter" />
            <source srcset="../../../assets/templates/125/logisim_baby.webp" type="image/webp"
                alt="Logisim Diagram Left Shifter" />
            <img src="../../../assets/templates/125/logisim_baby.jpg" alt="Logisim Diagram Manchester Baby" />
        </picture>
    </figure>
    <figcaption>
        <p>
            The internal implementation of the Manchester Baby computer.
        </p>
    </figcaption>
    <video controls autoplay loop>
        <source src="../../../assets/templates/125/baby_executing.webm" type="video/webm" />
        Your browser does not support the video tag.
    </video>
    <figcaption>
        <p>
            The Manchester Baby computer executing a program at 1048.0 kHz.
        </p>
    <div>
        <h4>Reference</h4>
        <ul>
            <li>
                Fox, C. (2024). Computer architecture: From the stone age to the quantum age. No Starch Press.
              </li>
        </ul>
    </div>
</article>