<article>
  <p>
    SOLID is an acronym for the first five object-oriented design (OOD)
    principles by Robert C. Martin. These principles, when combined together,
    make it easy for a programmer to develop software that are easy to maintain
    and extend. They also make it easy for developers to avoid code smells,
    easily refactor code, and are also a part of the agile or adaptive software
    development.

    <ul>
        <li>
            <strong>S</strong>ingle Responsibility Principle (SRP)
        </li>
        <li>
            <strong>O</strong>pen Closed Principle (OCP)
        </li>
        <li>
            <strong>L</strong>iskov Substitution Principle (LSP)
        </li>
        <li>
            <strong>I</strong>nterface Segregation Principle (ISP)
        </li>
        <li>
            <a href="/#/design/50"> <strong>D</strong>ependency Inversion Principle (DIP)</a>
        </li>
    </ul>

    <h4>Other Principles</h4>
    <ul>
        <li>
            <a href="/#/design/57"> <strong>P</strong>rinciple of Least Knowledge (PLK)</a>
        </li>
    </ul>
  </p>
</article>
