<h1 mat-dialog-title>Important: Please Take Note</h1>
<mat-dialog-content class="mat-typography">
  <ul>
    <li>This is not a blog or a how-to site.</li>
    <li>The content was produced using rapid directed learning, <br> acquisition and retention techniques.</li>
    <li>Content is not intended to be a comprehensive or authoritative resource.</li>
    <li>Material credit and attribution is given to the original authors where applicable.</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Roger That</button>
</mat-dialog-actions>