<article>
    <div class="flex-parent">
      <div class="flex-child">
        <img
          src="../../../assets/templates/28/sql_antipatterns.jpeg"
          ,
          alt="SQL Antipatterns"
          class="img-responsive"
          width="350"
        />
      </div>
      <div class="flex-child">
        <p>
          A super fun and approachable book that will help you learn how to learn to 
          identify and avoid the most common SQL pitfalls and anti-patterns.
        </p>
      </div>
    </div>
  </article>