<article>
  <div class="flex-parent">
    <div class="flex-child">

      <picture>
        <source srcset="../../../assets/templates/132/codebook.avif" type="image/avif"
          alt="Code: The Hidden Language of Computer Hardware and Software, 2nd Edition" />
        <source srcset="../../../assets/templates/132/codebook.webp" type="image/webp"
          alt="Code: The Hidden Language of Computer Hardware and Software, 2nd Edition" />
        <img src="../../../assets/templates/132/codebook.jpg"
          alt="Code: The Hidden Language of Computer Hardware and Software, 2nd Edition" />
      </picture>
    </div>
    <div class="flex-child">
      <p>
        A must read for anyone interested in computer science. This book covers the history of computer architecture and
        is
        a great supplement for my computer architecture course. My only regret is not reading it sooner.
      </p>
    </div>
  </div>
</article>