<style>
  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  table thead tr {
    background-color: #054f7d;
    color: #ffffff;
    text-align: left;
  }

  table th,
  table td {
    padding: 12px 15px;
  }

  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
</style>

<article>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pattern</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adapter Pattern</td>
        <td>Changes the interface of one or more classes.</td>
      </tr>
      <tr>
        <td>Class Adapter Pattern</td>
        <td>
            Uses multiple inheritance to adapt one interface to another.
        </td>
      </tr>
      <tr>
        <td>Command Pattern</td>
        <td>
            Decouple the sender of the request from the object that executes it.
        </td>
      </tr>
      <tr>
        <td>Composite Pattern</td>
        <td>
          Clients treat collections of objects and individual objects uniformly.
        </td>
      </tr>
      <tr>
        <td>Decorator Pattern</td>
        <td>
            Allows for the dynamic wrapping of objects in order to modify their.
            behavior
        </td>
      </tr>
      <tr>
        <td>Facade Pattern</td>
        <td>Simplifies the interface of a group of classes</td>
      </tr>
      <tr>
        <td>Factory Method Pattern</td>
        <td>
            Creates an instance of several derived classes.
        </td>
      </tr>
      <tr>
        <td>Iterator Pattern</td>
        <td>
          Provides a way to traverse a collection of objects without exposing
          the collection's implementation.
        </td>
      </tr>
      <tr>
        <td>Observer Pattern</td>
        <td>
          Allows a group of objects to be notified when some state changes.
        </td>
      </tr>
      <tr>
        <td>Proxy Pattern</td>
        <td>
          Wrap an object to control access to it.
        </td>
      </tr>
      <tr>
        <td>State Pattern</td>
        <td>
          Encapsulates state-based behavior and uses delegation behavior to the current state.
        </td>
      </tr>
      <tr>
        <td>Strategy Pattern</td>
        <td>
          Encapsulates interchangeable behaviors and uses delegation to decide.
          which one to use
        </td>
      </tr>
      <tr>
        <td>Template Method Pattern</td>
        <td>
            Create a template for an algorithm and let subclasses redefine certain steps.
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Freeman, E., &amp; Robson, E. (2020). Head First Design Patterns, 2nd
        Edition
      </li>
      <li>
        Gamma, E., Helm, R., Johnson, R., &amp; Vlissides, J. (2021). Design
        patterns: Elements of reusable object-oriented software.
      </li>
    </ul>
  </div>
</article>
