<article>
  <div class="flex-parent">
    <div class="flex-child">
      <img
        src="../../../assets/templates/71/cppcrashcourse.jpeg"
        alt="C++ Crash Course"
        class="img-responsive"
        width="350"
      />
    </div>
    <div class="flex-child">
      <p>
        Another great book from No Starch Press. This book is a great
        introduction to C++. I ended up finishing up to part two of this
        resource before having to divert my attention to other projects. Time permitting, I will
        return to this book and finish it up.
      </p>
    </div>
  </div>
</article>
