<article>
    <div class="flex-parent">
      <div class="flex-child">
        <img
          src="../../../assets/templates/41/moonwalking_with_einstein.jpg"
          alt="Moonwalking with Einstein book"
          class="img-responsive"
          width="350"
        />
      </div>
      <div class="flex-child">
        <p>
          Memory is an interesting topic. This book takes a journalistic approach to
          uncover the secrets of memory. 
        </p>
      </div>
    </div>
  </article>
  