<article>
  <p>
    Virtual memory is a memory management system that abstracts the main
    physical memory into virtual blocks of memory where each process has its own
    virtual address space. This ensures memory allocation is isolated to a
    process thereby ensuring that all processes can run independently without
    interfering with each other.
  </p>
  <p>
  </p>
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Matthew Justice (2021). How Computers Really Work, No Starch Press.
      </li>
    </ul>
  </div>
</article>
