.container-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
  padding: 5px;
  margin: 10px;
}

.app-card-header {
  padding: 16px;
}

.list-page-title {
  font-weight: 400;
  font-size: 25px;
  padding-left: 15px;
}

.card-title {
  font-size: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;

  .card-footer-item-date {
    padding: 25px 0;
    text-align: center;
  }
}

.image-responsive{

}