<article>
    <div class="flex-parent">
      <div class="flex-child">
        <img
          src="../../../assets/templates/102/ComputerArchitecture.jpg"
          alt="Computer Architecture"
          class="img-responsive"
          width="350"
        />
      </div>
      <div class="flex-child">
        <p>
            This is a really interesting book that covers the history of computer architecture. Currently, using it as a referential supplement for 
            my computer architecture course.
        </p>
      </div>
    </div>
  </article>
  