<article>
    <div class="flex-parent">
        <div class="flex-child">
            <img src="../../../assets/templates/127/image.jpg" alt="Domain-Driven Design Distilled"
                class="img-responsive" width="350" />
        </div>
        <div class="flex-child">
            <h4>Understanding the Context and Domain</h4>
            <ul>
                <li>Bounded context with intrinsic language.</li>
                <li>Avoid the ball of mud. I think this is means stay within a context.</li>
                <li>Don't allow technology to be the sole solution to a business process.</li>
                <li>Can use adapter pattern to interface with the domain context withouth polluting the domain model.
                </li>
            </ul>
            <h4>Strategic Design with Subdomains</h4>
            <ul>
                <li>A core domain is where your organization makes its strategic investment in software. It is the
                    highest priority projects.</li>
                <li>Subdomains are a way to break down a large domain into smaller, more manageable pieces.</li>
                <li>Subdomains can be further broken down into bounded contexts.</li>
                <li>Subdomains can be categorized as core, supporting, or generic.</li>
                <li>Legacy systems can be broken down into logical models or area of expertise, can be considered
                    subdomain and in turn a bounded context.</li>
                <li>A supporting subdomain is necessary to support a core domain. It may not need the kind of investment
                    given to the core but instead rely on external
                    services or systems.
                </li>
                <li>

                </li>
            </ul>
            <h3>???</h3>
            </p>
        </div>
    </div>
    <div>
        <h4>Reference</h4>
        <ul>
            <li>
                Vernon, V. (n.d.). Domain-driven design distilled, 1/e. O'Reilly Online Learning.
                https://www.oreilly.com/library/view/domain-driven-design-distilled/9780134593449/
            </li>
        </ul>
    </div>
</article>