<article>
    <div class="flex-parent">
        <div class="flex-child">
            <img src="../../../assets/templates/8/deepwork.jpg" alt="deep work book" class="img-responsive"
                width="350" />
        </div>
        <div class="flex-child">
            <p>
                I picked up this book a few months ago as a recommendation. The author Cal Newport does a really good job of reminding us of 
                the importance of deep work in our lives. A great book to read if you are looking to improve your productivity.
            </p>
        </div>
</article>