<article>
    <p>
      The AND16 gate is a digital logic gate that produces an output that is true only when all of its inputs are true.
    </p>
    <figure>
        <pre class="prettyprint">
            |        a         |        b         |       out        |
            | 0000000000000000 | 0000000000000000 | 0000000000000000 |
            | 0000000000000000 | 1111111111111111 | 0000000000000000 |
            | 1111111111111111 | 1111111111111111 | 1111111111111111 |
            | 1010101010101010 | 0101010101010101 | 0000000000000000 |
            | 0011110011000011 | 0000111111110000 | 0000110011000000 |
            | 0001001000110100 | 1001100001110110 | 0001000000110100 |
            ...
        </pre>
    </figure>
    <figcaption>
      <p>
        This example shows a 16-input AND gate truth table. The output is true only when all 16 inputs are true.
    </p>
    </figcaption>
    <figure>
      <picture>
        <source srcset="../../../assets/templates/103/And16.avif" type="image/avif" alt="Logisim Diagram AND16" />
        <source srcset="../../../assets/templates/103/And16.webp" type="image/webp" alt="Logisim Diagram AND16" />
        <img src="../../../assets/templates/103/And16.jpg" alt="Logisim Diagram AND16" />
      </picture>
    </figure>
    <figcaption>
      <p>
        The internal circuit of the AND16 gate.
      </p>
    </figcaption>
    <h3>HDL</h3>
    <pre class="prettyprint">
        CHIP And16 {
            IN a[16], b[16];
            OUT out[16];
        
            PARTS:
                And(a=a[0], b=b[0], out=out[0]);
                And(a=a[1], b=b[1], out=out[1]);
                And(a=a[2], b=b[2], out=out[2]);
                And(a=a[3], b=b[3], out=out[3]);
                And(a=a[4], b=b[4], out=out[4]);
                And(a=a[5], b=b[5], out=out[5]);
                And(a=a[6], b=b[6], out=out[6]);
                And(a=a[7], b=b[7], out=out[7]);
                And(a=a[8], b=b[8], out=out[8]);
                And(a=a[9], b=b[9], out=out[9]);
                And(a=a[10],b=b[10], out=out[10]);
                And(a=a[11],b=b[11], out=out[11]);
                And(a=a[12],b=b[12], out=out[12]);
                And(a=a[13],b=b[13], out=out[13]);
                And(a=a[14],b=b[14], out=out[14]);
                And(a=a[15],b=b[15], out=out[15]);
        }
    </pre>
    <div>
      <h4>Reference</h4>
      <ul>
        <li>
          Fox, C. (2024). Computer architecture: From the stone age to the quantum age. No Starch Press.
        </li>
        <li>
          Nisan, N., & Schocken, S. (2021). The Elements of Computing Systems: Building a modern computer from first
          principles. The MIT Press.
        </li>
      </ul>
    </div>
  </article>