<article>
  <p>
    The Adapter Pattern converts an interface of a class into the interface the
    client expects to allow incompatible interfaces to work together. 

  </p>
  <figure>
    <img
      src="../../../assets/templates/54/adapter-pattern.jpg"
      alt="Adapter Pattern"
      class="img-responsive"
    />
    <figcaption></figcaption>
  </figure>
  <a href="https://github.com/coding35/adapter-pattern" target="_blank"
    >View Example Code on GitHub</a
  >
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Freeman, E., &amp; Robson, E. (2020). Head First Design Patterns, 2nd
        Edition
      </li>
    </ul>
  </div>
</article>