<article>
    <p>
        Functions should take arguments as input and return a computed value. Functions should not have side effects. 
    </p>
    <p>
    </p>
        Procedures may or may not take arguments as input and have side effects. Procedures should not return a computed value.
    <p>
        Methods used in OOP are functions or procedures that are associated with a class or object. Methods may or may not take arguments as input and may or may not return a computed value.
         Methods can have side effects.
    </p>

        <h4>Reference</h4>
        <ul>
            <li>
                Fox, C. (2024). Computer architecture: From the stone age to the quantum age. No Starch Press.
              </li>
        </ul>
    </div>
</article>