<article>
  <p>
    The template pattern allows you to define the skeleton of an algorithm in a
    method, deferring some steps to subclasses for implementation. This pattern gives
    allows for code reuse while still allowing subclasses to define some of the steps
    of the algorithm through the use of the concept of a hook. A hook is simply a method
    that is declared in the abstract class, but only given an empty or default implementation. This method
    can be overridden by subclasses, but does not have to be.
  </p>
  <p>
    This pattern shows up so often because it's a great design tool for creating
    frameworks, where the framework controls how something gets done, but leaves
    you (the person using the framework) to specify your own details about what is
    actually happening at each step of the framework's algorithm.
  </p>
  <figure>
    <img src="../../../assets/templates/58/template-method-pattern.jpg" alt="Facade Pattern" class="img-responsive" />
    <figcaption></figcaption>
  </figure>
  <a href="https://github.com/coding35/template-method-pattern" target="_blank">View Example Code on GitHub</a>
  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Freeman, E., &amp; Robson, E. (2020). Head First Design Patterns, 2nd
        Edition
      </li>
      <li>
        Gamma, E., Helm, R., Johnson, R., &amp; Vlissides, J. (2021). Design
        patterns: Elements of reusable object-oriented software.
      </li>
    </ul>
  </div>
</article>