<div class="content-component simple-content-page">
  <h3 class="page-title">About</h3>

  <article>
    <p>
      My interest in the mind, memory, and learning led me to earn a psychology
      degree many years ago. Today, I am a software developer and like most tech
      workers in the field, I understand the necessity for continued learning.
      What better way to engage my two favorite topics than by combining my
      enjoyment of software development with ways to improve memory and
      learning.
    </p>
    <p>
      This web application is an ongoing effort/experiment with two primary
      goals.
    </p>
    <ol>
      <li>
        Improve my understanding of architecture, design, and best practice in
        software development by applying a directed learning technique.
      </li>
      <li>
        Apply, evolve and dial in the learning techniques that work best for me.
      </li>
    </ol>
    <p>
      I will measure my progress by tracking the number of new concepts learned
      in a week, the number of concepts retained after a week, and the time
      spent practicing new concepts. I will also keep a journal to document my
      progress, note which techniques work best, and record any insights or
      discoveries I make along the way.
    </p>

    <h4>The Material</h4>
    <p>
      This site is a collection of material created designed to drive personal
      learning and growth. It follows the philosophy of learning by doing and
      teaching and is a work in progress.
    </p>
    <p>
      I hope you find something useful here. If you have any questions or
      comments, please feel free to contact me.
    </p>
  </article>
</div>
