<h3 class="page-title">About</h3>

<article>
    <p>
        This site is a collection of material created designed to drive personal learning and growth.
        It follows the philosophy of learning by doing and teaching and is a work in progress.
        The content is organized into three main categories: Architecture, Design, and Coding..
    </p>
    <ul>
        <li>The Architecture section contains articles that I have written to explore topics that will drive
            an ever increasing understanding of the complex systems that we build.</li>
        <li>The Design section contains theoretical application of design techniques.</li>
        <li>The Coding section contains tutorials and projects that I have created to learn new technologies.</li>
    
    </ul>
    <p> I hope you find something useful here. If you have any questions or comments, please feel free to contact
        me.
    </p>
</article>