<article>
    <p>
        Astable N555 Timer Circuit. An Astable N555 Timer Circuit is a type of multivibrator that generates a continuous
        output waveform. The circuit has two resistors and one capacitor. The output waveform is a square wave. The
        frequency of the output waveform is determined by the values of the resistors and the capacitor.
    </p>
    <figure>
        <picture>
            <source srcset="../../../assets/templates/123/N555.avif" type="image/avif" alt="LTSpice Diagram N555" />
            <source srcset="../../../assets/templates/123/N555.webp" type="image/webp" alt="LTSpice Diagram N555" />
            <img src="../../../assets/templates/123/N555.jpg" alt="LTSpice Diagram N555" />
        </picture>
    </figure>
    <figure>
        <picture>
            <source srcset="../../../assets/templates/123/N555_Wave.avif" type="image/avif" alt="LTSpice Diagram N555_Wave" />
            <source srcset="../../../assets/templates/123/N555_Wave.webp" type="image/webp" alt="LTSpice Diagram N555_Wave" />
            <img src="../../../assets/templates/123/N555_Wave.jpg" alt="LTSpice Diagram N555_Wave" />
        </picture>
    </figure>
    <div>
        <h4>Reference</h4>
        <ul>
            <li>
                <a href="https://www.ti.com/lit/ds/symlink/lm555.pdf">LM555 Timer</a>
            </li>
    </div>
</article>