<article>
  <p>
    The class adapter pattern uses multiple inheritance to adapt one interface
    to another. Similar to the object adapter pattern, the class adapter pattern
    allows incompatible interfaces to work together through the use of
    inheritance. This pattern can only be used with languages that allow
    multiple inheritance such as C++, Python and R to name a few. It is also
    less flexible than the object adapter pattern because it requires the
    adapter to inherit from both the target and adaptee classes. This means that
    the adapter can only adapt one class unlike the object adapter which can
    adapt multiple classes. Additionally, the class adapter pattern is less
    flexible because it requires the adapter to override all of the adaptee's
    methods. If the adaptee class is changed, so must the adapter class.
  </p>

  <figure>
    <img
      src="../../../assets/templates/55/class-adapter-pattern.jpg"
      alt="Class Adapter Pattern"
      class="img-responsive"
    />
    <figcaption></figcaption>
  </figure>

  <div>
    <pre class="prettyprint">
            #include &ltiostream&gt
            class target {
            public:
                void request() {
                    std::cout << "target request" << std::endl;
                }
            };
            
            class adaptee {
            public:
                void specificRequest() {
                    std::cout << "Adaptee specificRequest" << std::endl;
                }
            };
            
            class adapter : public target, public adaptee {
            
            };
            
            
            int main() {
                adapter adapter;
            
                adapter.request();
                adapter.specificRequest();
                return 0;
            }
        </pre
    >
  </div>
  <a href="https://github.com/coding35/class-adapter-pattern" target="_blank"
    >View Example Code on GitHub</a
  >

  <div>
    <h4>Reference</h4>
    <ul>
      <li>
        Freeman, E., &amp; Robson, E. (2020). Head First Design Patterns, 2nd
        Edition
      </li>
      <li>
        Gamma, E., Helm, R., Johnson, R., &amp; Vlissides, J. (2021). Design
        patterns: Elements of reusable object-oriented software.
      </li>
    </ul>
  </div>
</article>
