<article>
  <div class="flex-parent">
    <div class="flex-child">

      <picture>
        <source srcset="../../../assets/templates/136/Bare_Metal_C.avif" type="image/avif"
          alt="Bare Metal C" />
        <source srcset="../../../assets/templates/136/Bare_Metal_C.webp" type="image/webp"
          alt="Bare Metal C" />
        <img src="../../../assets/templates/136/Bare_Metal_C.jpg"
          alt="Bare Metal C" />
      </picture>
    </div>
    <div class="flex-child">
      <p>
        Pretty much a getting started with C programming book, but with a focus on low-level. I was disappointed
        that it didn't go deeper into programming the STM32 hardware, but it was still a good read.
      </p>
    </div>
  </div>
</article>