<article>
  <div class="flex-parent">
    <div class="flex-child">
      <img
        src="../../../assets/templates/15/understandingsoftware.jpeg"
        alt="understanding software book"
        class="img-responsive"
        width="350"
      />
    </div>
    <div class="flex-child">
      <p>
        Picked this up as an audiobook and found the essay format perfect for
        quick bursts of insight. It pays dividend to learn from the experience
        of others and Max does not disappoint.
      </p>
    </div>
  </div>
</article>
