<div>
    <mat-list role="list" *ngFor="let categoryLink of categoryLinks">
        <div class="list-title">{{categoryLink.title}}</div>
        <mat-list-item class="list-item" role="listitem" *ngFor="let link of categoryLink.linkList" (click)="handleClick(link.url)">
            <span class="list-item-cell" >
                <span class="list-item-link" >{{ link.title | titlecase }}</span>
                <mat-icon class="mat-icon-list-item">keyboard_arrow_right</mat-icon>
            </span>
        </mat-list-item>
    </mat-list>
</div>