#ReviewPanel{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

 #ReviewButtonGroup{
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid lightblue;
} 

.review-btn{
    min-width: 50px;
}

#ReviewCount{
    font-size: 14px;
    display: flex;
    justify-content: end;
}

#ExportImport{
    display: flex;
    justify-content: right;
    margin-top: 100px;
    position: relative;
    font-size: 13px;
}

